.container{
  display: grid;
  width: 100%;
  height: 315vw;
  margin: auto;
  grid-template-columns: 380px;
  grid-template-rows: 280px 450px 400px;
  grid-gap: 3px;
  grid-template-areas:
    "hd hd"
    "ct ct"
    "ft ft";
  border: 3px solid #A52A2A;
  justify-content: center;
  padding: 5px;
}
.box{
  align-items: center;
  justify-content: center;
  border: 2px solid #ff9a00;
  margin: 20px;
  padding: 5px;
  width: 340px;
}
#header{
  grid-area: hd;
  display: flex;
  border: 1px solid #ff9a00;
  padding: 1px;
  height: 270px;
  width: 350px;
}
#content{
  grid-area: ct;
  height: 430px;
  background-color: azure;
}
#footer{
  grid-area: ft;
  height: 400px;
  background-color: antiquewhite;
}