.container{
  display: grid;
  width: 100%;
  height: 510vw;
  margin: auto;
  grid-template-columns: 120px 270px;
  grid-template-rows: 280px 950px 250px 370px;
  grid-gap: 3px;
  grid-template-areas:
    "hd hd"
    "ct ct"
    "cd ab"
    "ft ft";
  border: 3px solid #A52A2A;
  justify-content: center;
  padding: 5px;
}
.box{
  align-items: center;
  justify-content: center;
  border: 2px solid #ff9a00;
  margin: 20px;
  padding: 5px;
  width: 340px;
}
#header{
  grid-area: hd;
  display: flex;
  border: 1px solid #ff9a00;
  padding: 1px;
  height: 270px;
  width: 350px;
}
#content{
  grid-area: ct;
  height: 930px;
  background-color: azure;
}
#footer{
  grid-area: ft;
  height: 370px;
  background-color: antiquewhite;
}
#card{
  grid-area: cd;
  height: 150px;
  width: 100px;
  background-color: antiquewhite;
  border: 2px solid purple;
  align-items: center;
}
#about{
  grid-area: ab;
  height: 220px;
  width: 195px;
  padding: 5px;
  background-color: azure;
  border: 2px solid purple;
}